a.tt{
           position:relative;
           z-index:1;
           color:#3CA3FF;
           text-decoration:none;
}
a.tt span{ display: none; }
a.tt:hover{ z-index:25; color: #aaaaff;}
a.tt:hover span.tooltip {
               display:block;
               position:absolute;
               top : 0px; left:0;
	padding: 15px 0 0 0;
	width:200px;
	color: #993300;
	filter: alpha(opacity:90);
	opacity: 0.90;
}
a.tt:hover span.top{
	display: block;
	padding: 30px 8px 0;
    background: url(bubble.gif) no-repeat top;
}
a.tt:hover span.middle{ 
	display: block;
	padding: 0 8px; 
	background: url(bubble_filler.gif) repeat bottom; 
}
a.tt:hover span.bottom{
	display: block;
	padding:3px 8px 10px;
	color: #548912;
    background: url(bubble.gif) no-repeat bottom;
}


