.show__ad{
  visibility: visible !important;
}

.sticky__flip {
  position: absolute;
  top: 300px;
  z-index: 10;
  width: 740px;
  /*-webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;*/
}

.sticky__flip img{
  display: block;
  margin: 0 auto;
}

.sticky__flip .btn__close-ad {
    background: url(../images/btn-close.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 10000;
    top: 0px;
    right: -5px;
}

.hidden{
  display: none !important;
}

.kcm.kcm__rectangle{
 z-index: auto;
}