@charset "utf-8";
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
}
#container {
	width: 780px;
	background: #000000;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: left;
} 
#header { 
	background: #DDDDDD; 
	padding: 0 10px 0 20px;
} 
#header h1 {
	margin: 0; 
	padding: 10px 0; 
}
#sidebar1 {
	float: left; 
	width: 200px; 
	background: #EBEBEB; 
	padding: 15px 10px 15px 20px;
}
#mainContent { 
	margin: 0 0 0 250px; 
	padding: 0 0px;
} 
#footer { 
	padding: 0 10px 0 20px;
	background:#DDDDDD; 
} 
#footer p {
	margin: 0;
	padding: 10px 0;
}
.fltrt {  /* untuk float element right page */
	float: right;
	margin-left: 8px;
}
.fltlft { /* untuk float element left page */
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
