<html>
<head>
<title>Untitled Document</title>
<link href="layout.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
  <div id="header">
    <h1>Header</h1>
  </div>
  <div id="sidebar1">
    <h3>Sidebar1 </h3>
    <p>Teks disini </p>
    <p>&nbsp;</p>
  </div>
  <div id="mainContent">
    <h1> Home</h1>
    <p>Teks disini</p>
    <h2>Judul 2</h2>
    <p>Teks disini</p>
	</div>
	<br class="clearfloat" />
  <div id="footer">
    <p>Footer</p>
  </div>
</div>
</body>
</html>
